body {
 background-color: #FFC0CB;
}

a,
a.is-active,
a.visited {
 color: #fff;
 text-decoration: none;
}

.region-header {
 height:150px;
 padding:20px 0px 0px 20px;
}

.region-header #block-pink-branding {
 float:left;
 display:block;
 font-size:36px;
}

.region-header ul.menu {
 float: right;
 display:block;
 margin:0px 25px 0px 0px;
}

.region-header ul.menu li {
 float: left;
 display:block;
 margin:0px 25px 0px 0px;
 font-size:24px;
}

.region-header ul.menu li a.is-active {
 color: #fff;
}

main {
  background-color: #FFC0CB;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.layout-content {
 display: flex;
 flex-direction: column;
 flex-basis: 100%;
 flex: 1;
 padding:10px 75px 10px 25px;
}

.path-frontpage h1.page-title {
 display: none;
}

.region-sidebar-second {
 display: flex;
 flex-direction: column;
 flex-basis: 100%;
 flex: 1;
 padding:10px 10px 10px 10px;
 min-width:350px;
}


